<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EtherClient" value="http://localhost:8545" />
    <add key="AddressMain" value="0xf4d9d65481352C3Afd0750B46FbE0462eb29206d" />
    <add key="AddressCharge" value="0xb642a68bD622D015809bb9755d07EA3006b85843" />
    <add key="AddressMobility" value="0x8262a2a5c61A45Aa074cbeeDE42c808D15ea3ceD" />
  </appSettings>
</configuration>